# dataframes_lesson

In [1]:
import pandas as pd

In [2]:
books = [
    {
        "title": "Genetic Algorithms and Machine Learning for Programmers",
        "price": 36.99,
        "author": "Frances Buontempo"
    },
    {
        "title": "The Visual Display of Quantitative Information",
        "price": 38.00,
        "author": "Edward Tufte"
    },
    {
        "title": "Practical Object-Oriented Design",
        "author": "Sandi Metz",
        "price": 30.47
    },
    {
        "title": "Weapons of Math Destruction",
        "author": "Cathy O'Neil",
        "price": 17.44
    }
]

In [3]:
books = pd.DataFrame(books)

In [4]:
books

                                               title  price             author
0  Genetic Algorithms and Machine Learning for Pr...  36.99  Frances Buontempo
1     The Visual Display of Quantitative Information  38.00       Edward Tufte
2                   Practical Object-Oriented Design  30.47         Sandi Metz
3                        Weapons of Math Destruction  17.44       Cathy O'Neil

In [6]:
books.shape

(4, 3)

In [7]:
books.size

12

In [14]:
books.price.mean()

30.725

In [15]:
#another way to refer to the series price (if there are spaces)
books['price'].mean()

30.725

In [20]:
books.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
#indexing: finding record at index n
#df_name[df_name.index == n]
books[books.index == 0]

                                               title  price             author
0  Genetic Algorithms and Machine Learning for Pr...  36.99  Frances Buontempo

In [28]:
books.title

0    Genetic Algorithms and Machine Learning for Pr...
1       The Visual Display of Quantitative Information
2                     Practical Object-Oriented Design
3                          Weapons of Math Destruction
Name: title, dtype: object

In [37]:
#using conditional (indexes) to use a mask to find the lowest price book

low_book_index = books.index == books.price.idxmin()
books[low_book_index]

                         title  price        author
3  Weapons of Math Destruction  17.44  Cathy O'Neil