# Exercises Part I

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [6]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

# Exercises Part II

1. Capitalize all the string values in fruits.

In [7]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [10]:
fruits[fruits.str.count('a')]

0         kiwi
1        mango
1        mango
1        mango
3    pineapple
1        mango
1        mango
1        mango
0         kiwi
0         kiwi
0         kiwi
0         kiwi
1        mango
0         kiwi
1        mango
0         kiwi
3    pineapple
dtype: object

3. Output the number of vowels in each and every string value.

In [22]:
fruits[fruits.str.count('a')]

0         kiwi
1        mango
1        mango
1        mango
3    pineapple
1        mango
1        mango
1        mango
0         kiwi
0         kiwi
0         kiwi
0         kiwi
1        mango
0         kiwi
1        mango
0         kiwi
3    pineapple
dtype: object

4. Write the code to get the longest string value from fruits.

In [64]:
fruits.str.len().max()

16

5. Write the code to get the string values with 5 or more letters in the name.

In [59]:
fruits[fruits.str.len() > 5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [65]:
fruits.apply(lambda row: row.count('o'))

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64

# Exercises Part III