# pydataset_exercises

1. Copy the code from the lesson to create a dataframe full of student grades.

In [26]:
import pandas as pd
import numpy as np

# students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
#             'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# math_grades = np.random.randint(low=60, high=100, size=len(students))
# english_grades = np.random.randint(low=60, high=100, size=len(students))
# reading_grades = np.random.randint(low=60, high=100, size=len(students))

# student_grades = pd.DataFrame({'name': students,
#                    'math': math_grades,
#                    'english': english_grades,
#                    'reading': reading_grades}) 

student_grades

       name  math  english  reading
0     Sally    77       78       62
1      Jane    66       73       96
2     Suzie    93       65       97
3     Billy    84       96       85
4       Ada    61       65       60
5      John    91       98       63
6    Thomas    82       75       74
7     Marie    72       75       66
8    Albert    72       87       95
9   Richard    84       98       63
10    Isaac    70       77       86
11     Alan    60       91       92

In [35]:
#1a. Create a column named passing_english that indicates whether each student has a passing grade in english.

pass_english = student_grades.english > 59
student_grades['pass_english'] = pass_english

student_grades

       name  math  english  reading  pass_english
0     Sally    77       78       62          True
1      Jane    66       73       96          True
2     Suzie    93       65       97          True
3     Billy    84       96       85          True
4       Ada    61       65       60          True
5      John    91       98       63          True
6    Thomas    82       75       74          True
7     Marie    72       75       66          True
8    Albert    72       87       95          True
9   Richard    84       98       63          True
10    Isaac    70       77       86          True
11     Alan    60       91       92          True

In [50]:
#1b. Sort the english grades by the passing_english column. How are duplicates handled?

student_grades['pass_english']

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
Name: pass_english, dtype: bool

In [49]:
#1c. Sort the english grades first by passing_english and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the .sort_values method)

student_grades.sort_values('name').sort_values(pass_english)

KeyError: 0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
Name: english, dtype: bool

In [5]:
#1d. Sort the english grades first by passing_english, and then by the actual english grade, similar to how we did in the last step.

In [6]:
#1e. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

2. Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [10]:
#- How many rows and columns are there?

#- What are the data types of each column?

#- Summarize the dataframe with .info and .describe

#- Rename the cty column to city.

#- Rename the hwy column to highway.

#- Do any cars have better city mileage than highway mileage?

#- Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.

#- Which car (or cars) has the highest mileage difference?

#- Which compact class car has the lowest highway mileage? The best?

#- Create a column named average_mileage that is the mean of the city and highway mileage.

#- Which dodge car has the best average mileage? The worst?

3. Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [12]:
#- How many rows and columns are there?

#- What are the data types?

#- Summarize the dataframe with .info and .describe

#- What is the the weight of the fastest animal?

#- What is the overal percentage of specials?

#- How many animals are hoppers that are above the median speed? What percentage is this?